.lista-opciones label{
    display: block;
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
}

.lista-opciones select{
    width: 100%;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 24px;
    outline-color: #6278F7;
    border: none;
    font-size: 16px;
}